.blink-cursor:after{
    content: '|';
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0 ;
    }
}

h3{
    font-family: 'Courier New', Courier, monospace;
}