.accDisplay{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
   
}

.area-view{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


