.layout{
    margin-top: 220px;
}
.errorDisplay{
    display: flex;
    justify-content: center;
    margin-top: 220px;
}

h4{
    text-align: center;
    padding-bottom: 20px;
    animation: blink 2s step-start infinite;
    font-family: 'Courier New', Courier, monospace;
}
