.body{
    font-family: 'Courier New', Courier, monospace;
}

.ctcDisplay{
    margin-top: 150px;
    display: flex;
    justify-content: center;
   
}

.ctc-area-view{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


