.view {
    display: flex;
    justify-content: center;
}

.size{
    height: 300px;
    width: 300px;
    background-color: white
};

@media (min-width: 576px) { 

}
/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .Cards {
        width: 100%;
    }
 }
/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) { 


 }
/* Extra large (xl) devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .Cards {
        display: flex;
        justify-content: center;
    }
  
}
