.Display {
    text-align: center;
    margin: 0 auto;
    margin-top: 170px;
    max-width: 800px;
    color: yellow;
   
  }

img {
width: 700px;
}
p {
    width: 700px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
