.App {
  /* text-align: center; */
  margin: left;
  max-width: 800px;
  position: relative;
  
}

/*--Media Queries--*/

/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */
/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}
/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .App {
        max-width: 500px;
    }
 }
/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }
/* Extra large (xl) devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}




